<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body class="text-left mt-0 m-1">
<h1 class="mb-4">Product Management</h1>
<form class="form-inline mb-4" action="/product/list">
    <div class="form-group mr-2">
        <label for="keyword" class="sr-only">Product Name</label>
        <input type="text" name="keyword" class="form-control" id="keyword" placeholder="Product Name">
    </div>
    <button type="submit" class="btn btn-primary mr-2">Search</button>
    <button type="button" class="btn btn-success" id="addProductButton">Add New Product</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sum</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.proname}"></td>
        <td th:text="${p.num}"></td>
        <td>
            <a th:href="@{/product/edit(id=${p.id})}" class="btn btn-primary btn-sm">Edit</a>
            <a th:href="@{/product/delete(id=${p.id})}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" th:classappend="${pageInfo.hasPreviousPage} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/product/list(pageNum=${pageInfo.prePage}, pageSize=${pageInfo.pageSize})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(1, pageInfo.pages)}" th:classappend="${i == pageInfo.pageNum} ? 'active'">
            <a class="page-link" th:href="@{/product/list(pageNum=${i}, pageSize=${pageInfo.pageSize})}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${pageInfo.hasNextPage} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/product/list(pageNum=${pageInfo.nextPage}, pageSize=${pageInfo.pageSize})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination">-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#" aria-label="Previous">-->
<!--                <span aria-hidden="true">&laquo;</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#" aria-label="Next">-->
<!--                <span aria-hidden="true">&raquo;</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>