
<html>
<head>
    <!-- 添加必要的meta标签和CSS链接 -->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<form action="/user/save" method="post">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"  id="addModalLabel">添加用户信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="userName">用户名</label>
                        <input type="text" name="username" class="form-control" th:value="${u != null ? u.username : ''}" id="userName" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="sex" checked id="inlineRadio1" value="male"> male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" checked id="inlineRadio2" value="female"> female
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="deptSelect">部门</label>
                        <select id="deptSelect" class="form-control">
                            <option th:each="dept: ${depts}" th:text="${dept.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="levelSelect">等级</label>
                        <select id="levelSelect" name="grade" class="form-control">
                            <option value="1" th:selected="${u != null and u.grade == 1}">1</option>
                            <option value="2" th:selected="${u != null and u.grade == 2}">2</option>
                            <option value="3" th:selected="${u != null and u.grade == 3}">3</option>
                            <option value="4" th:selected="${u != null and u.grade == 4}">4</option>
                            <option value="5" th:selected="${u != null and u.grade == 5}">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userPassword">密码</label>
                        <input type="password" name="password" class="form-control" th:value="${u != null ? u.password : ''}" id="userPassword" placeholder="请输入密码">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script src="/jquery-2.1.4.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>