<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<div th:replace="header::common"></div>
	<style>
		.layui-logo a {
			color: #ffffff; /* White text color */
			background-color: #007bff; /* Blue background color */
			padding: 10px 20px;
			text-decoration: none;
			border-radius: 5px;
		}
		.layui-logo a:hover {
			background-color: #0056b3; /* Darker blue on hover */
		}
		.user-avatar {
			width: 40px; /* Adjust the width as needed */
			height: 40px; /* Adjust the height as needed */
			border-radius: 50%;
			margin-right: 10px;
		}
	</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo"><a th:href="@{/shopping/list}">Shopping</a></div>
		<ul class="layui-nav layui-layout-left">
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<img th:src="@{${userImage}}" alt="User Image" class="user-avatar">
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" th:text="|${session.currentUser.username}|"></a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:logout()">注销</a>
			</li>
		</ul>
	</div>
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree" >
				<li class="layui-nav-item layui-nav-itemed">
					<a href="javascript:;">信息维护</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;"
							   data-url="/user/list"
							   class="site-demo-active">管理员管理</a>
						</dd>
						<dd>
							<a href="javascript:;"
							   data-url="/product/list"
							   class="site-demo-active">商品管理</a>
						</dd>
						<dd>
							<a href="javascript:;"
							   data-url="/echarts/toECharts"
							   class="site-demo-active">统计图表</a>
						</dd>

					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">订单管理</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;"
							   class="site-demo-active"
							   data-url="/com.situ.web/page/dict/dictlist.jsp">
								订单管理</a>
						</dd>

					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-body"><!-- 内容主体区域 -->
		<iframe name="rightframe" width="99%" height="97%" src="/echarts/toECharts"></iframe>
	</div>
	<div class="layui-footer">© JAVA - 底部固定区域</div>
</div>
<script type="text/javascript">
	var $ = layui.jquery;
	var layer = layui.layer;
	var element = layui.element;
	$('.site-demo-active').click(function() {
		window.open($(this).data('url'), "rightframe");
	});
	element.render();// element.init();
	function openURL(url){
		window.open(url, "rightframe");
	}

	function logout() {
		layer.confirm(
				'您确认要退出么',
				{icon:3},
				function() {
					location.href = '/user/logout'
				}
		);
	}

</script>
</body>
</html>